:root {
  --override: {
    color: red;
    background-color: red;
  }
}

.override-before {
  @apply --override;
}

:root {
  --override: {
    color: blue;
  }
}

.override-after {
  @apply --override;
}
