{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "node": 4,
      },
    }],
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-object-entries",
  ],
}
