---
root: true
parser: "babel-eslint"
extends:
  - "airbnb-base"
  - "plugin:jest/recommended"
  - "prettier"

plugins:
  - "jest"

env:
  jest: true

rules:
  one-var: off
  prefer-const: off
  lines-between-class-members: off
  no-use-before-define:
    - error
    - functions: false
  comma-dangle:
    - error
    - arrays: "always-multiline"
      objects: "always-multiline"
      imports: "always-multiline"
      exports: "always-multiline"
      functions: ignore

  import/no-extraneous-dependencies:
    - error
    - devDependencies: true
      optionalDependencies: false
      peerDependencies: false
