:root {
  --toolbar-theme: {
    background-color: hsl(120, 70%, 95%);
    border-radius: 4px;
    border: 1px solid var(--theme-color late);
  };
  --toolbar-title-theme: {
    color: green;
  };
  --with-parens: {
    color: tomato;
  };
  --nested-set-one: {
    @apply --toolbar-theme;
  };
  --nested-set-two: {
    @apply --with-parens;
    @apply --toolbar-title-theme;

    color: orange;
  };
  --override: {
    color: red;
    background-color: red;
  };
}

.toolbar {
  background-color: hsl(120, 70%, 95%);
  border-radius: 4px;
  border: 1px solid var(--theme-color late);
  @apply --toolbar-theme;
}

.toolbar > .title {
  color: green;
  @apply --toolbar-title-theme;
}

.with-parens {
  color: tomato;
  @apply(--with-parens);
}

.nested-set-one {
  background-color: hsl(120, 70%, 95%);
  border-radius: 4px;
  border: 1px solid var(--theme-color late);
  @apply --nested-set-one;
}

.nested-set-two {
  color: tomato;
  color: green;
  color: orange;
  @apply --nested-set-two;
}

.override-before {
  color: blue;
  @apply --override;
}

:root {
  --override: {
    color: blue;
  };
}

.override-after {
  color: blue;
  @apply --override;
}
